<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JSONP调用试用</title>
</head>

<body>
    <button>发送JSONP请求</button>
</body>
<script>
    const btn = document.querySelector('button');
    btn.onclick = function () {
        // 通过调用jsonp接口，并调用回调函数fn
        jsonp({ url: 'http://127.0.0.1/jsonp?callback=fn' })
    }
    function jsonp(options) {
        var script = document.createElement('script')
        script.src = options.url
        document.body.appendChild(script);
        // 当jsonp加载完成后删除script标签，防止重复调用
        script.onload = () => {
            document.body.removeChild(script);
        }
    }
    function fn(data) {
        console.log(data);
    }
</script>

</html>